word_list.suo
word_list.ncb
Debug/word_list.pdb
Debug/word_list.obj
Debug/word_list.ilk
Debug/word_list.exe.intermediate.manifest
Debug/word_list.exe.embed.manifest.res
Debug/word_list.exe.embed.manifest
Debug/vc90.pdb
Debug/vc90.idb
Debug/mt.dep
Debug/BuildLog.htm
word_list.vcproj.CW01.uidw0739.user
Debug/main.obj
Debug/words_grid.obj
word_search.vcxproj.user
word_search.vcxproj.filters
word_search.vcxproj
word_search.sln
Debug/word_search.tlog/link.read.1.tlog
Debug/word_search.tlog/link.command.1.tlog
Debug/word_search.tlog/CL.write.1.tlog
Debug/word_search.tlog/CL.read.1.tlog
Debug/word_search.tlog/CL.command.1.tlog
Debug/word_search.log
Debug/word_search.ilk
Debug/word_search.exe
Debug/word_search.Build.CppClean.log
Debug/vc141.pdb
Debug/vc141.idb
.vs/word_search/v15/ipch/AutoPCH/6917a94c205b394c/WORD_LIST.ipch
.vs/word_search/v15/ipch/AutoPCH/60a7c9ab508aab3c/WORD_LIST.ipch
.vs/word_search/v15/ipch/AutoPCH/32a837136c8b1634/MAIN.ipch
.vs/word_search/v15/Browse.VC.opendb
.vs/word_search/v15/Browse.VC.db
.vs/word_search/v15/.suo
Debug/word_search.tlog/word_search.lastbuildstate
Debug/word_search.tlog/link.write.1.tlog
Debug/word_search.pdb
